.footer__copyright,
.footer__autor {
  color: #ffffff;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2rem;
}

.footer__copyright:hover,
.footer__autor:hover {
  font-family: "Libre Franklin", sans-serif;
  color: #e6ff00;
}

.footer__logo {
  height: 100px;
  padding: 15px 0;
}

.footer {
  background: #ce1500;
}

.footer__box {
  align-items: center;
}

.footer__autor {
  align-items: center;
}

.footer__copyright {
  flex-basis: 240px;
  padding: 25px 0;
}
